* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* LOGIN STRUCTURE */
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  padding: 30px;
  width: 300px;
  text-align: center;
  border-radius: 12px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

.btn {
  display: block;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  text-decoration: none;
}

/* DASHBOARD STRUCTURE */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.welcome {
  padding: 20px;
  text-align: center;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.hero-img {
  font-size: 50px;
}

.search-box {
  margin: 20px auto;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 25px;
}

.search-box input {
  border: none;
  background: transparent;
  width: 90%;
  outline: none;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
}

.menu {
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.highlight {
  margin: 20px;
  border-radius: 15px;
  overflow: hidden;
}

.highlight img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.highlight p {
  padding: 10px;
}

.trending {
  padding: 15px;
  border-radius: 25px 25px 0 0;
}

.trend-card {
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  text-align: center;
  padding: 10px;
}
